/* shamelessly taken from the Coq-community website */
code {
	white-space: pre-wrap;
}
span.smallcaps {
	font-variant: small-caps;
}
span.underline {
	text-decoration: underline;
}
div.column {
	display: inline-block; vertical-align: top; width: 50%;
}
div.hanging-indent {
	margin-left: 1.5em; text-indent: -1.5em;
}
ul.task-list {
	list-style: none;
}
body {
	font-family: Arial, Helvetica; margin-left: 5em; font-size: large;
}
h1 {
	margin-left: 0em; padding: 0px; text-align: center
}
h2 {
	margin-left: 0em; padding: 0px; color: #580909
}
h3 {
	margin-left: 1em; padding: 0px; color: #C05001;
}
body {
	width: 1100px; margin-left: 30px; 
}
